<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project Uno.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CA4D10E1DBA600900F80B3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CA4D1221DBA600900F80B3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CA4D12D1DBA600900F80B3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
